@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./common/banner.css";
@import "./common/aside.css";




/*內文開始*/

main.main{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    transition: all .5s;    
}

@media (min-width: 992px) and (max-width: 1399px){
    main.main{
      max-width: 960px;
    }
  }


div.item_2_group{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
    /* border: 1px solid red; */
}

div.flex_2_right:last-child > div.item_2_group{
    margin-bottom: 0;
}


@media screen and (max-width: 767.98px){
    div.item_2_group{
        flex-direction: column;
        margin: 0 0 100px;
    }
  
} 


div.item_2_group img{
    width: 100%;
    max-width: 590px;
    height: 390px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

div.text_content{
    width: 100%;
    max-width: 590px;
    max-height: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid orange; */
    margin: 0 20px;
}


@media screen and (max-width: 767.98px){
    div.text_content{
      margin: 20px auto 0;
    }
}

div.item_2_group p{
    font-size: 0.875rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--color-d);
    line-height: 24px;
    padding: 0 20px;
} 


h1.title2{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    margin: 0 auto 40px;
    background-image: url("../pic/block_light.svg");
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px 0px;
    /* border: 1px solid black; */
}

div.text_content{
    /* border: 1px solid black; */
    display: inline-block;
    vertical-align: top;
}


div.flex_2_left{
    position: relative;
    /* border: 1px solid green; */
}


div.flex_2_right{
    position: relative;  
    /* border: 1px solid blue; */
    

}

div.item_2_group img.pattern{
    display: block;
    position: absolute;
    transform: translateY(-50%);
    bottom: -45px;
    right: 0;
    width: 82px;
    height: 83px;
}


@media screen and (max-width: 767.98px){
    div.item_2_group img.pattern{
      display: none;
    }
}


div.flex_2_left div.item_2_group{
    position: relative;
    left: -5vw;
    /* border: 1px solid yellow; */
}

@media (min-width: 992px) and (max-width: 1399px){
    div.flex_2_left div.item_2_group{
        left: -3vw;
    }
  }


div.flex_2_right div.item_2_group{
    position: relative;
    left: 5vw;
    /* border: 1px solid yellow; */
}

@media (min-width: 992px) and (max-width: 1399px){
    div.flex_2_right div.item_2_group{
        left: 3vw;
    }
  }



@media screen and (max-width: 1199.98px){
    div.flex_2_left div.item_2_group, div.flex_2_right div.item_2_group{
      left: 0;
    }
}