@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./common/banner.css";
@import "./common/aside.css";


/*表單開始*/
/* div.form{
  border: 1px solid purple;
  width: 1200px;
  margin: 0 auto;
}


form.the_form{
    border: 1px solid purple;
}

div.item_form_block{
    font-size: 0;
    margin-bottom: 20px;
    display: block;
    border: 1px solid purple;
}

div.item_form_block > label{
    width: 120px;
    height: 40px;
    display: inline-block;
    vertical-align: top;

    font-size: 0.875rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #342110;
    line-height: 24px;
    
} 

div.item_form_block > input{
    width: 590px;
    height: 40px;
    font-size: 0.875rem;
    padding: 0 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    width: calc(100% - 120px);
    vertical-align: top;
} 
  
div.item_block textarea.notes{
    width: calc(100% - 120px);
    vertical-align: top;
    height: 120px;
    border-radius: 5px;
    border: 1px solid gray;
    resize:vertical;
}


button.btn_submit{
    font-size: 0.875rem;
    background-image: url("../pic/block.svg");
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 6px 20px;
}  */

/*表單結束*/


/*內容開始*/
main.main{
    /* border: 1px solid purple; */
    width: 1200px;
    margin: 100px auto 0;
}


div.item_2_group{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 100px;
    margin-left: 20px;
    /* border: 1px solid red; */
    font-size: 0;
}


div.item_2_group h1.title2{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    margin: 0 auto 40px;
    background-image: url("../pic/block_light.svg");
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 0px;
}


div.item_2_group > iframe{
  display: inline-block;
}


div.item_2_group > img{
  width: 590px;
  height: 390px;
  object-fit: cover;
  
}


div.text_content{
  display: inline-block;
  vertical-align: top;
  width: 500px;
  height: 390px;
  /* border: 1px solid orange; */
}


div.text_content > p{
    /* display: inline-block; */
    font-size: 0.875rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #342110;
    line-height: 24px;
    margin-left: 20px;
    margin-top: 0;
    height: 390px;  
    /* border: 1px solid green; */
} 


div.text_content:nth-child(1) > p{
  padding: 70px 23px;
  /* color: blue; */
}


div.text_content:nth-child(2) > p{
    margin-left: 0px;
    margin-right: 20px;
    padding: 70px 23px;
}

div.text_content:nth-child(3) > p{
  padding: 30px 23px 70px;
  /* color: red; */
}







/*社群媒體 icon*/
div.text_content p a.social_media_icon img{
  display: innline-block;
  margin-top: 10px;
  width: 36px;
  height: 36px;

}

/*背景花紋*/
div.text_content > img.pattern{
  display: inline-block;
  position: relative;
  bottom: 100px;
  right: 100px;

}

div.flex_2{
  position: relative;
  /* border: 1px solid blue; */
  
}

div.flex_2 > img.pattern{
  position: relative;
  display: inline-block;
  top: 420px;
  right: 85px;
  
}

div.flex_2:nth-child(2) > img.pattern{
  transform: scaleX(-1);
  position: relative;
  display: inline-block;
  top: 420px;
  right: 1095px;
  
}

