@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./common/banner.css";
@import "./common/aside.css";


/* ========== 表單 ========== */
div.form{
  /* border: 1px solid purple; */
  width: 100%;
  max-width: 600px;
  margin: 0 auto 100px;
}


div.item_form_block{
    font-size: 0;
    margin-bottom: 20px;
    display: block;
    /* border: 1px solid blue; */
}

div.item_form_block > label{
    width: 80px;
    height: 30px; 
    display: block;
    
    font-size: 0.875rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--color-d);
    /* line-height: 2px; */
    /* border: 1px solid orange; */
    
} 

div.item_form_block > input{
    width: calc(100% - 40px);
    margin: 0 20px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    border-radius: 2px;
    /* border: 1px solid green; */
    border: 1px solid var(--color-l);
    background-color: var(--color-w);
} 

div.item_form_block > input[type=text] {
    padding: 12px 20px;  
}

div.item_form_block input[type=text]:focus {
  border: 1px solid var(--color-d);
}


input::placeholder{
  /* border: 1px solid red; */
  color: var(--color-d);
  opacity: 50%;
}
  
div.item_form_block textarea{
    width: calc(100% - 40px);
    margin: 0 20px;
    border-radius: 2px;
    /* border: 1px solid gray; */
    resize:vertical;
    background-color: var(--color-w);
    border: 1px solid var(--color-l);
    height: 200px;
    padding: 12px 20px;
    resize: none;
   
} 

div.btn{
  display: flex;
  justify-content: center;
}

div.btn button.btn_submit{
    font-size: 0.875rem;
    background-color: var(--color-d);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
}  

div.btn button.btn_submit:hover{
  background-color: var(--color-r);
}



/* ========== 內容開始 ========== */
main.main{
    /* border: 1px solid purple; */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

 
div.item_2_group{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    margin-bottom: 80px;
    /* border: 1px solid red; */
    position: relative;
}

div.flex_2:last-child > div.item_2_group{
    margin-bottom: 0;
}


@media screen and (max-width: 767.98px){
  div.item_2_group{
      flex-direction: column;
      margin: 0 0 100px;
  }

} 


/* 地圖 */
div.map{
    display: block;
    width: 90%;
    max-width: 590px;
    padding-top: 30%;
    position: relative;
}


@media screen and (max-width: 767.98px){
  div.map{
      padding-top: 60%;
  }
}


div.map > iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



div.item_2_group > div.img_block, div.img_block_mobile{
  margin: 0 20px;
  
}


div.img_block img, div.img_block_desktop img, div.img_block_mobile img{
  width: 100%;
  max-width: 590px;
  height: 390px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

div.item_2_group > div.img_block_mobile img{
  display: none;
  
}


@media screen and (max-width: 767.98px){
  div.item_2_group > div.img_block_mobile img{
    display: block
  }

  div.item_2_group > div.img_block_desktop img{
    display: none;
  }
}


div.text_content{
  width: 100%;
  max-width: 590px;
  max-height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
  margin: 0 20px;
}

@media screen and (max-width: 767.98px){
  div.text_content{
    margin: 20px auto 0;
  }
}


div.text_content > p{
    font-size: 0.875rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #342110;
    line-height: 24px;
    /* border: 1px solid green; */
    padding: 0 20px;
} 


@media screen and (max-width: 991.98px){
  div.flex_2:last-child div.item_2_group div.text_content p{
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 767.98px){
  div.flex_2:last-child div.item_2_group div.text_content p{
    font-size: 0.875rem;
  }
}

/*社群媒體 icon*/
div.text_content p a.social_media_icon img{
  display: innline-block;
  margin-top: 10px;
  width: 36px;
  height: 36px;
}



/*背景花紋*/
div.flex_2 img.pattern_right{
  display: block;
  position: absolute;
  transform: translateY(-50%);
  bottom: -45px;
  right: 0;
  
}


div.flex_2 img.pattern_left{
  display: block;
  position: absolute;
  bottom: -45px;
  left: 0;
  transform: scaleX(-1) translateY(-50%);
  /* border: 1px solid blue; */
}


@media screen and (max-width: 767.98px){
  div.flex_2 img.pattern_right, div.flex_2 img.pattern_left{
      display: none;
  }

}


