header.header{
    width:1200px;
    margin: 10px auto 0;
    font-size: 0;
    /* border: 1 px solid black; */
}

header.header::after{
    content: "";
    display: block;
    clear: both;
}


/*logo*/

header.header a.logo_img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    /* border: 1px solid red; */
    height: 60px;
}

header.header a.logo_img img{
    height: 60px;
    /* border: 1px solid green; */
}


/*搜尋icon*/

header.header a.icon_search{
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 30px;
    transform: translateY(-50%);
    /* border: 1px solid green; */
    float: right;
    background-image: url("../../pic/icon_search.svg");
    background-repeat: no-repeat;
    background-position: center center;
} 

header.header a.icon_search:hover{
    background-image: url("../../pic/icon_search_hover.svg");
    display: block;
    margin-top: 30px;
    transform: translateY(-50%);
    float: right;
    width: 30px;
    height: 25px;
    background-position: center center;

}


/*nav 選單列*/

header.header nav.nav{
    display: inline-block;
    vertical-align: middle;
}


header.header nav.nav > ul.link_list{
    padding-left: 0;
}

header.header nav.nav ul.link_list > li{
    display: inline-block;
    /* border: 1px solid orange; */
    
    
}

header.header nav.nav ul.link_list > li > a{
    display: inline-block;
    font-size: 0.875rem;
    text-decoration: none;
    padding: 8px 16px;
    min-width: 100px;
    text-align: center;
    color: #342110;
    font-family: 'Roboto', sans-serif;
}


header.header nav.nav ul.link_list > li > a.-on{
    background-image: url("../../pic/block_red.svg");
    background-repeat: no-repeat;
    background-size: 96px;
    color: white;
    background-position: center center;
}

header.header nav.nav ul.link_list > li > a:hover{
    color: #A51623;
    font-weight: 700;
    min-width: 105px;
    /* border: 1px solid green;   */
}

header.header nav.nav ul.link_list > li > a.-on:hover{
    color: white;
    font-weight: 400;
    min-width: 100px;
    /* border: 1px solid green; */  
}

header.header nav.nav ul.link_list > li:first-child > a:hover{
    background-size: 96px;
}
  


/*次選單 副標 nav*/

nav.sub_nav{
    /* border: 1px solid blue; */
    width: 800px;
    margin: 40px auto 100px;
    vertical-align: middle;
    align-content: center;
    display: inline-flexbox;
}

nav.sub_nav ul.sub_link_list{
    list-style: none;
    /* border: 1px solid yellow; */
    display: inline-block;
    /* margin: 40px 500px 100px 100px; */
    padding-left: 0px; 
    /* min-width: 500px; */
    margin-left: calc(100% - 409px);
    transform: translateX(-50%);

}

nav.sub_nav ul.sub_link_list > li{
    display: inline-block;
    /* border: 1px solid red; */
    
}

nav.sub_nav ul.sub_link_list > li > a{
    text-decoration: none;
    font-size: 1rem;
    padding: 0px 5px;
    min-width: 100px;
    text-align: center;
    color: #342110;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid orange; */
    border-right: 3px solid #A58F83;
}

nav.sub_nav ul.sub_link_list > li > a:hover{
    color: #A58F83;
    font-weight: 700;
}

nav.sub_nav ul.sub_link_list > li:last-child > a{
    border-right: 0px;
}

nav.sub_nav ul.sub_link_list > li > a.-on{
    color: #A51623;
    font-weight: 700;
}


nav.sub_nav ul.sub_link_list > li > a.-on:hover{
    color: #A51623;
    font-weight: 700;
}